body {
  background-color: rgb(149, 205, 255);
  text-align: center;
  font-family:cursive;
}

form{
  text-align: start;
  justify-self: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: gray;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px;
  max-width: 60%;
}

input {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

button {
  background-color: rgb(206, 232, 255);
  border: 2px solid rgb(0, 0, 0) ;
  border-radius: 3px;
  margin: 20px;
  padding: 10px;
}

button:hover{
  background-color: rgb(0, 0, 0) ;
  color: white;
  cursor: pointer;
}

button:active{
  background-color: gray ;
  color: black;
}